body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: small;
}

header>h3{
    text-transform: uppercase;
}

header{
    padding-top: 2rem;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.container>article.card{
    margin-bottom: 2rem;
}